

<script src="~/Scripts/knockout-3.0.0.js"></script>

<div class="row">    

     <div class="col-lg-6">
         <div class="panel panel-default">
             <div class="panel-heading">List</div>
             <div class="panel-body text-center dashboard-widget-body">
                 @Html.Partial("_List")
             </div>
             <div class="panel-footer">
                 &nbsp;           
                 <a href="#" class="btn btn-xs btn-danger pull-right">Submit</a>                
             </div>
         </div>
     </div>
        

</div>


