body{ background: #eeeeee; }

.dashboard-widget-body {
    height: 225px;
}

.hours-difference-negative {
    color: #d9534f;
}

.hours-difference-postive {
    color: #46BFBD;
}

.table-hover > tbody > tr.in:hover{
    background-color: white !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}